---
layout: base.njk
---
<article class="container" style="padding:28px 0">
  <p class="muted" style="margin:0 0 6px">{{ tag }} • <time datetime="{{ date }}">{{ date | dateCH }}</time></p>
  <h1 class="h1">{{ title }}</h1>
  {% if image %}<img src="{{ image }}" alt="" style="margin:16px 0;border-radius:12px" />{% endif %}
  {% if subtitle %}<p class="lead">{{ subtitle }}</p>{% endif %}
  <div class="content">
    {{ content | safe }}
  </div>
</article>